<!--MASTER_BLADE-->
body{
  background-color: lavender;
  background-position: center;
  font-family: cursive;
}
nav{
  background-color: transparent;
  box-shadow: 0px 0px;
  padding: 0;
}
.verticalLine{
  border-left: thick solid pink;
}
.btn{
  background: #cccccc;

}

<!--ORDER TRACKING-->
#progress {
 width: 500px;   
 border: 1px solid black;
 position: relative;
 padding: 3px;
}

#percent {
 position: absolute;   
 left: 50%;
}

#bar {
 height: 20px;
 background-color: teal;
 width: 60%;
}