<!--MASTER_BLADE-->
body{
  background-image: url('http://previews.123rf.com/images/melazerg/melazerg1503/melazerg150300110/38194166-seamless-background-with-sketch-tailoring-equipment-mannequin-sewing-sewing-machine-hand-drawn-illus-Stock-Vector.jpg');
  background-position: center;
  font-family: cursive;
}
nav{
  background-color: transparent;
  box-shadow: 0px 0px;
  padding: 0;
}
.verticalLine{
  border-left: thick solid pink;
}
.btn{
  background: #cccccc;
  padding: 0;
}

<!--HOMEPAGE-->
img{
  height: 200px;
  width: 350px;
}

.verticalLine{
  border-left: thick solid red;
}

.page-footer{
  color: black;
}


